.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 216px;
    margin-bottom: 8px;
}
.discount-value {
    display: none;
}
.is-sale [class*="discount-value"] {
    position: absolute;
    display: flex !important;
    bottom: 0;
    left: 0;
    background-color: #f91155;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding: 3px 6px;
}
.product-info-container {
    display: flex;
    flex-direction: column;
}
.card-product {
    display: flex;
    flex-direction: column;
    width: 216px;
}
.button-container {
    width: 100px;
    margin: 16px 0 24px;
}