.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 44px;
    margin: auto;    
    max-width: 1024px;
}
.user-navigation-link {
    display: flex;    
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 18px 16px 10px;
    }
}